h1 {
    font: 500;
    text-align: center;
}

.game-area{
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 100px;
    height: 100px;
}

.btn-size {
    border-radius: 50%;
    border-width: inherit;
    border-color: white;
    background-color: white;
    width: 100px;
    height: 100px;

}

.score-area {
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

