h1 {
    font: 500;
    text-align: center;
}

.username-input {
width: 80%;
margin-left: auto;
margin-right: auto;
}

.username-input h2{
text-align: center;
    }

.grid-area {
    display: grid;
    grid-template-columns: [first] 30% auto [last] 25%;
    align-items: center;
}

.q-image img {
    width: 80%;
    float: left;
}

.uname-entry {
    float: right;
}

.game-area{
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 100px;
    height: 100px;
}

.btn-size {
    border-radius: 50%;
    border-width: inherit;
    border-color: white;
    background-color: white;
    width: 100px;
    height: 100px;

}

.score-area {
    padding-top: 25px;
    display: flex;
    justify-content: center;
}
